# Basic configuration for setting up the 

[global]
project = "twoDValidations"
project_name = "ICARUS BNB MC" # toadd
# file = "/Users/msotgia/dev_areas/twoDValidationsStudies/trackValidations/makePlots/tests/writerTwoDValidationsRedoCorrectBestmatch__matches.root"
# outdir = "/Users/msotgia/dev_areas/twoDValidationsStudies/trackValidations/makePlots/testProtonLength/Matches/"
file = "/Users/msotgia/dev_areas/twoDValidationsStudies/trackValidations/makePlots/tests/writerTwoDValidationsRedoCorrectBestmatch__bestmatch.root"
outdir = "/Users/msotgia/dev_areas/twoDValidationsStudies/trackValidations/makePlots/testProtonLength/Bestmatch/"

# file = "/exp/icarus/app/users/msotgia/analysis/twoDRecoStudies/trackValidations/writerTwoDValidations.root"
# outdir = "/exp/icarus/app/users/msotgia/analysis/twoDRecoStudies/trackValidations/plotStuff/samplePlots/configurationSingles1D/"

fontsize = 13
labelfontsize = 28

# --------------------------------------------------------------------
# =====================================================================
# --------------------------------------------------------------------

[analysis_Protons]
merge_on = "Evt"
# density = true
# figsize = [5.0, 3.5]

# --------------------------------------------------------------------
# =====================================================================
# --------------------------------------------------------------------

[[analysis_Protons.dataset]]
name = "Protons/DconfigD/configD"
# No `style` entr --> default to black line 2 pt
label = "2D + DNNROI\nw/ Pulse Trains = 10"
style = "style_dnnpt"

[[analysis_Protons.dataset]]
name = "Protons/DconfigC/configC"
# No `style` entr --> default to black line 2 pt
label = "2D + DNNROI\nw/o Pulse Trains"
style = "style_dnn"

[[analysis_Protons.dataset]]
name = "Protons/DconfigB/configB"
style = "style_2d"
label = "2D signal proc."

[[analysis_Protons.dataset]]
name = "Protons/DconfigA/configA"
# No `style` entr --> default to black line 2 pt
label = "1D signal proc."

# --------------------------------------------------------------------
# =====================================================================
# --------------------------------------------------------------------

[[analysis_Protons.plot]]
label = "Ratio reconstructed/true length $L_\\mathrm{reco}/L_\\mathrm{true}$"
product = "ratioLength"
yscale = "log"
ylabel = "PFPs [#]"
binning = {bins = 40, limits = [0, 2], flow = "sum"}

[[analysis_Protons.plot]]
label = "Pull reconstructed/true length $\\delta_L/L_\\mathrm{true}$"
product = "pullLength"
# yscale = "log"
ylabel = "PFPs [#]"
binning = {bins = 40, limits = [-2.0, 30.0], flow = "sum"}

# --------------------------------------------------------------------
# =====================================================================
# --------------------------------------------------------------------

# Possible choices 
# ['fill', 'step', 'errorbar', 'band', 'bar', 'barstep']

# this overwrites the default style if needed
[style_default]
histtype = "errorbar"
color = "k"
linewidth = 1

[style_2d]
histtype = "step"
yerr = false
color = "tab:green"
# alpha = 0.5
linestyle = ":"
linewidth = 3

[style_dnn]
histtype = "step"
color = "tab:orange"
yerr = false
linestyle = "--"
linewidth = 5

[style_dnnpt]
histtype = "step"
color = "tab:blue"
yerr = false
linewidth = 7

